<html>
<head>
    <title>chronic kidney disease predictions</title>
    <link rel="stylesheet" href="style.css" type="text/css">
</head>
<body>
    <div class="main">
        <div class="CHRONIC KIDNEY DISEASE PREDICTION">
            <h1>CHRONIC KIDNEY DISEASE PREDICTION</h1>
            <form id="ckd" method="web app">
                <br>
                <select> 
             <center><option value="select anemia or not">select anemia or not</option></center>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                </select>
                <br><br>
                
                <select> 
                    <option value="select coronary artery disease">select coronary artery disease</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>

                </select>
                <br><br>
               
                <select>
                    <option value="select pus_cell or not">select pus_cell or not</option>
                    <option value="NORMAL">NORMAL</option>
                    <option value="ABNORMAL">ABNORMAL</option>
                </select>
                <br><br>
                
                
                <select>
                <option value="select red_blood_cell level">select red_blood_cell level</option>
                    <option value="NORMAL">NORMAL</option>
                    <option value="ABNORMAL">ABNORMAL</option>
                </select>
                <br><br>
                  <select>
                  <option value="select diabetesmellitus or not">select diabetesmellitus or not</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                  </select>
                  <br><br>
                 
                  <select>
                  <option value="select pedel_edema or not">select pedel_edema or not</option>
                    <option value="YES">YES</option>
                    <option value="NO">NO</option>
                  </select>
                  <br>
                
                              
                <br>
                <button type="predict"> <a href="predict.html">PREDICT</a></button>
            </form>
        </div>
    </div>
</body>
</html>

